{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1>Новий тег</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}

    <input type="submit" value="Створити тег" class="btn btn-primary"/>

    {{ form_widget(form.saveAndCreateNew, { label: 'Зберегти і створити ще'|trans, attr: { class: 'btn btn-primary' } }) }}

    <a href="{{ path('admin_post_index') }}" class="btn btn-primary">
        Назад до переліку
    </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}

{% endblock %}
