{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>
    <h3>Email автора: {{ post.authorEmail }}</h3>
    <p>{% for i in 1..post.rating|round %}
            <span class="glyphicon glyphicon-star"></span>
        {% endfor %}
        Рейтинг {{ post.rating|round(1) }}</p>
    <p><span class="glyphicon glyphicon-time"></span> Опубліковано {{ post.created.date|date("d F Y H:i:s") }} </p>

    <table class="table">
        <tbody>
        <tr>
            <th>Фото</th>
            <td>
                {% if post.imageName %}
                    <img class="img-responsive"
                         src={{ asset("#{post.imageName}") | imagine_filter('my_post') }} alt="foto"
                         style="float: left">
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Зміст</th>
            <td>{{ post.content }}</td>
        </tr>
        <tr>
            <th>Теги</th>
            <td><p>
                    {% for tag in post.tags %}
                    {{ tag.title }} </p>
                {% endfor %}

            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_post_edit', { slug: post.slug }) }}" class="btn btn-primary btn-success">
            <i class="fa fa-edit"></i> Редагувати
        </a>
    </div>
    <br>
    <div class="section">
        {{ include('admin/blog/_form.html.twig', {
            form: delete_form,
            button_label: 'Видалити',
            button_css: 'btn btn-primary btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>
{% endblock %}
