<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Роббі Ві{% endblock title %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock stylesheets %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{% block header %}
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">Роббі Ві</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('homepage') }}">Головна</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_post_index') }}"><span
                                        class="glyphicon glyphicon-user"></span>Панель адміністрування</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                            <a href="{{ path('blog_post_new') }}"><span class="glyphicon glyphicon-user"></span>Створити
                                новий пост</a>
                        {% endif %}
                    </li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('fos_user_profile_show') }}">Привіт, {{ app.user.username }}</a></li>
                        <li><a href="{{ path('logout') }}">Вийти</a></li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}"><span
                                        class="glyphicon glyphicon-user"></span> Реєстрація</a>
                        </li>
                        <li><a href="{{ path('security_login_form') }}"><span
                                        class="glyphicon glyphicon-log-in"></span>Увійти</a></li>
                    {% endif %}
                </ul>

            </div>
        </nav>
    </header>
{% endblock header %}

<div class="container">
    <div class="row">
        {% block body %}
            <div id="main" class="col-sm-8">
                {% block main %}{% endblock main %}
            </div>

            <div id="sidebar" class="col-sm-4">
                {% block sidebar %}
                    {{ render(controller('AppBundle:Blog:sidebar')) }}
                {% endblock sidebar %}
            </div>
        {% endblock body %}
    </div>
    <div class="row">
        {% block footer %}
            <footer>
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - Роббі Ві</p>

                    <p>Syrotchuk's site</p>
                </div>
            </footer>
        {% endblock %}
    </div>
</div>


{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock javascripts %}

</body>
</html>
