{% extends 'base.html.twig' %}

{% block main %}
    {% for post in pagination %}
        <article class="post">
            <h2>
                <a href="{{ path('blog_post', { slug: post.slug }) }}">
                    {{ post.title }}
                </a>
            </h2>
            <p>{% for i in 1..post.rating|round %}
                    <span class="glyphicon glyphicon-star"></span>
                {% endfor %}
                Ratting {{ post.rating|round(1) }}</p>

            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.created.date|date("d F Y H:i:s") }} </p>

            <div class="container-fluid">
                {% if post.imageName %}
                <img class="img-responsive" src={{ asset("#{post.imageName}") | imagine_filter('my_blog') }} alt="foto" style="float: left">
                {% endif %}
                <p>{{ post.shortText }}</p>
            </div>
        </article><br>
        {% if is_granted('edit', post) %}
            <div class="section">
                <a href="{{ path('blog_post_edit', { slug: post.slug }) }}" class="btn btn-primary btn-success">
                    <i class="fa fa-edit"></i> Edit this post
                </a>
                <a href="{{ path('blog_post_delete', { slug: post.slug }) }}" class="btn btn-primary btn-danger">
                    <i class="fa fa-edit"></i> Delete this post
                </a>
            </div>
        {% endif %}
        <hr style="color: #0f0f0f; background-color: #0f0f0f; height: 5px">
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

