{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{ post.title }} </h1>
    <p>{% for i in 1..post.rating|round %}
            <span class="glyphicon glyphicon-star"></span>
        {% endfor %}
         Ratting {{ post.rating|round(1) }}</p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.created.date|date("d F Y H:i:s") }}
        {{ post.comments|length }} comments</p>
    <img class="img-responsive" src={{ asset("#{post.foto}") | imagine_filter('my_post') }} alt="foto" style="float: left">

    <p class="article">{{ post.content }}</p>
    <div class="well">
        {{ render(controller('AppBundle:Blog:markNew', { 'post': post })) }}
    </div>
    <div class="well">
            {{ render(controller('AppBundle:Blog:commentNew', { 'post': post })) }}
    </div>

    <h3>{{ post.comments|length }} comments</h3>

    {% for comment in pagination %}
        <div class="row post-comment">
            <h4 class="col-sm-3">
                <strong>{{ comment.created.date|date("d F Y H:i:s") }}</strong>
            </h4>
            <div class="col-sm-9">
                <p class="article">{{ comment.content }}</p>

            </div>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}


