{#<div>    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}</div>#}
<div class="well">
    <h4>Blog Search</h4>

    <form action="{{ path('livesearch') }}" method="post">
        <div class="input-group">
            <input type="search" class="form-control" name="slug" onkeyup="showResult(this.value)">
        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
        </div>
        <div id="livesearch"></div>
    </form>

</div>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<script>
    function showResult(str) {
        if (str.length == 0) {
            document.getElementById("livesearch").innerHTML = "";
            document.getElementById("livesearch").style.border = "0px";
            return;
        }
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {  // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var parsed = JSON.parse(xmlhttp.responseText);
                var textDiv = '';
                for (var item in parsed) {
                    if (!parsed.hasOwnProperty(item)) continue;
                    var title = parsed[item];
                    var url = Routing.generate('blog_post', {slug: item});
                    textDiv = textDiv + "<a href=" + url + ">" + title + "</a><br>";
                }
                document.getElementById("livesearch").innerHTML = textDiv;
                document.getElementById("livesearch").style.border = "1px solid #A5ACB2";
            }
        };
        var route = Routing.generate('livesearch');
        xmlhttp.open("GET", route + "?slug="+str, true);
        xmlhttp.send();
    }
</script>

<div class="well sidebar">
    <section class="section">
        <header>
            <h3>Tag Cloud</h3>
        </header>
        <p class="tags">
            {% for tag, weight in alltags %}
            <span class="weight-{{ weight }}">
                <a href="{{ path('tag_post', { slug: tag}) }}">
                    {{ tag }}
                </a>
            </span>
            {% else %}
        <p>There are no tags</p>
        {% endfor %}
        </p>
    </section>
</div>
<div class="well sidebar">
    <section class="section">
        <header>
            <h3>The most populate posts</h3>
        </header>
        {% for post in populatePosts %}
            <article class="comment">
                <header>
                    <p>{% for i in 1..post.rating|round %}
                            <span class="glyphicon glyphicon-star"></span>
                        {% endfor %}
                        Ratting {{ post.rating|round(1) }}</p>

                    <p class="small"> created on [<em>
                            <time datetime="{{ post.created|date('c') }}">
                                {{ post.created|date('Y-m-d h:iA') }}</time>
                        </em>]
                    </p>
                    <a href="{{ path('blog_post', { 'slug': post.slug }) }}">
                        {{ post.title }}
                    </a>
                </header>
            </article>
        {% endfor %}
    </section>
</div>

<div class="well sidebar">
    <section class="section">
        <header>
            <h3>Latest Comments</h3>
        </header>
        {% for comment in latestComments %}
            <article class="comment">
                <header>
                    <p class="small"> commented on [<em>
                            <time datetime="{{ comment.created|date('c') }}">
                                {{ comment.created|date('Y-m-d h:iA') }}</time>
                        </em>]
                    </p>
                    <a href="{{ path('blog_post', { 'slug': comment.post.slug }) }}#comment-{{ comment.id }}">
                        {{ dots3(comment.content) }}
                    </a>

                </header>
            </article>
        {% endfor %}
    </section>

</div>