{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{ tag.title }}</h1>
    <p><span class="glyphicon glyphicon-time"></span> Created on {{ tag.created.date|date("d F Y H:i:s") }}
        {{ tag.posts|length }} posts</p>

    {% for post in pagination %}
        <article class="post">
            <h2>
                <a href="{{ path('blog_post', { slug: post.slug }) }}">
                    {{ post.title }}
                </a>
            </h2>

            <p>{% for i in 1..post.rating|round %}
                    <span class="glyphicon glyphicon-star"></span>
                {% endfor %}
                Ratting {{ post.rating|round(1) }}</p>

            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.created.date|date("d F Y H:i:s") }} </p>

            <a href="{{ path('blog_post', { 'slug': post.slug }) }}">
                <div class="container-fluid">
                    {% if post.imageName %}
                        <img class="img-responsive"
                             src={{ asset("#{post.imageName}") | imagine_filter('my_blog') }} alt="foto"
                             style="float: left">
                    {% endif %}
                    {% if post.videoId %}
                        <iframe width="300" height="200"
                                src="http://www.youtube.com/embed/{{ post.videoId }}">
                        </iframe>
                    {% endif %}
                    <p>{{ dots3(post.content, 100) }}</p>
                </div>
            </a>
        </article>
        <hr style="color: #0f0f0f; background-color: #0f0f0f; height: 5px">
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}


