{% extends 'base.html.twig' %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <form action="{{ path('security_login_check') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock"></i>Форма аутентифікації</legend>
                        <div class="form-group">
                            <label for="username">Введіть Ваш Email або Login</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Введіть Ваш пароль</label>
                            <input type="password" id="password" name="_password" class="form-control"/>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>Увійти</button>
                    </fieldset>
                </form>
            </div>

            <div>
                <a class="btn btn-default" href="{{ path('fos_user_resetting_request') }}"
                   role="button">Забув пароль?
                </a>
            </div>

            {% block content %}
                <div id="fb-root"></div>
                <script>
                    window.fbAsyncInit = function () {
                        // init the FB JS SDK
                        FB.init({
                            appId: '12345678910',                        // App ID from the app dashboard
                            channelUrl: '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                            status: true,                                 // Check Facebook Login status
                            xfbml: true                                  // Look for social plugins on the page
                        });
                    };

                    // Load the SDK asynchronously
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) {
                            return;
                        }
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));

                    function fb_login() {
                        FB.getLoginStatus(function (response) {
                            if (response.status === 'connected') {
                                // connected
                                alert('Already connected, redirect to login page to create token.');
                                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                            } else {
                                // not_authorized
                                FB.login(function (response) {
                                    if (response.authResponse) {
                                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                                    } else {
                                        alert('Cancelled.');
                                    }
                                }, {scope: 'email'});
                            }
                        });
                    }
                </script>

                <h3>Увійти за допомогою соціальних мереж</h3>

                {% render(controller('HWIOAuthBundle:Connect:connect')) %}
            {% endblock %}

            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            <script>
                function onSignIn(googleUser) {
                    // Useful data for your client-side scripts:
                    var profile = googleUser.getBasicProfile();
                    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                    console.log("Name: " + profile.getName());
                    console.log("Image URL: " + profile.getImageUrl());
                    console.log("Email: " + profile.getEmail());

                    // The ID token you need to pass to your backend:
                    var id_token = googleUser.getAuthResponse().id_token;
                    console.log("ID Token: " + id_token);
                }
                ;
            </script>

        </div>


    </div>
{% endblock %}
{% block sidebar %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
